.app {
    background-color:black;
    color: white;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
      align-items: stretch;
      justify-content:flex-start;
}
header{
  text-align: center;
}
header h1{
  color:white;
}
main {
    display: flex;
    flex-direction: row;
    flex: 1;
}
.panel{
  flex: 1;
  padding:20px;
  border: 1px solid #333;
  background-color: #333;
}

